 /* https://palettes.shecodes.io/palettes/1667 */
 input[type=text] {
  font-family: inherit;
  font-weight: inherit;
  font-size: large;
  width: 100%;
  padding: 12px 40px;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-top: 2px solid #494949;
  border-bottom: 2px solid #494949;
  /* border-radius: 5vmax; */
  outline: none;
  /* transition: 0.25s; */
  background-color: #494949;
  color: #fffdf6;
}
input[type=text]:focus {
  border-color: #494949;
  /* caret-color: transparent; */
}input[type=text]:hover {
  border-color: #494949;
}
body {
  font-family: 'Space Mono', serif;
  font-weight: 300;
  font-size: large;
  margin: 0;
  background-color: #fffdf6;
}
.root{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  color: #494949;
  display: flex;
  flex-direction: column;
  min-height:100%;
  
}
.searchbox{
  width: 100%;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0px 0px 5px #666);
}
.searchbox:hover{
}
.searchboxinner{
  width: 100%;
}
.searchresultsbox{
  background-color: #FFF;
  margin-right: inherit;
}
.searchboxpadding {
  /* padding-bottom: 20px; */
}
.cardhistorycontainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.cardhistory{
  /* box-shadow: inset 0px 40px 20px -50px #666; */
  overflow-y: scroll;
  scrollbar-width: none;
  
  padding-right: 40px;
  padding-left: 40px;
}
.cardspacer{
  cursor: pointer;
}
.card {
  filter: drop-shadow(0px 0px 10px #666);
  position: relative;
}
.cardspacer:hover{
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px white);
  transform: translateY(-10px) rotate(0.5deg);
  /* transform: translateY(-10px) perspective(400px) rotate3d(-12, 0 , 0, 5deg); */
}
.selectedcardbox {
  width: auto;
  display: flex;
  justify-content: center;
}
.selectedcardelement {
  position: relative;
}
.selectedcard { 
  padding: 10px;
  filter: drop-shadow(0px 0px 10px #666);
}
.flipButton {
  position:absolute;
  top:5px;
  left:5px;
  border:3px solid #494949;
  padding:5px;
  cursor: pointer;
  background-color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 45vh;
  border-radius: 4.75% 3.5%; 
}
.searchitem{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #EEE;
}
.searchitem:hover {
  background-color: #ece8d9;
}